html,
body {
    height: 100%;
    font-family: 'Open Sans',Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
}

/*.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}*/
.page_header h1{
    margin-left:13px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}


.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 2px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .separator {
    border-top: 1px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}

.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 12px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .panel-outline .panel-body {
    padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}

.header_contact td {
    padding: 2px 6px;
}
.header_contact {
    color: #11538F;
    width: 553px;
    /*margin: 28px 473px;
    position: absolute;*/
}

.contact_panel {
    padding: 10px;
    height: 40px;
    background: #CCDBEA;
    border-bottom: 1px dashed whitesmoke;
}

.main_banner_txt{
        position: absolute;
    margin: 15px 22px;
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px black;
}

.main_banner_txt > a {
    font-size: 14px;
    color:white;
}

.products_item_wrap {
    background: #004A96;
    height:165px;
    width:165px;
    padding:10px;
}

.products_list {
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

.products_list > li {
    list-style-type: none;
}

.products_list > li > a{
    color: white;
    font-size: 11px;
}

.products_title, .products_title a {
    color: white;
    font-weight: bold;
}

.products_item_img{
    width:165px;
    height:165px;
}


/*systems*/
.systems_item_wrap {
    background: #004A96;
    height:150px;
    width:360px;
    padding:10px;
}

.systems_item_wrap p {
    color:white;
}

.systems_quick_links_item_wrap{
        background: #004A96;
    height:150px;
    width:150px;
    padding:10px;
}

.systems_list {
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

.systems_list > li {
    list-style-type: none;
}

.systems_list > li > a{
    color: white;
    font-size: 11px;
}

.systems_title, .systems_title a {
    color: white;
    font-weight: bold;
    font-size:16px;
}
.systems_title_small, .systems_title_small a{
     color: white;
    font-weight: bold;
       
}

.systems_item_img{
    width:150px;
    height:150px;
        border: 2px solid #004A96;
}

.systems-line {
     position: absolute;
    width: 50px;
    height: 2px;
    background: #004A96;
    margin: 74px -40px;
}

/*systems end*/

.notmargin{
    margin:0px;
}

ul.header_submenu {
    margin: 28px -13px;
    display: inline-block;
}

ul.header_submenu li {
    list-style-type: none;
}
ul.header_submenu a {
    color: white;
}

/*footer*/
.full {
    width: 100%;    
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #EDEFF1;
    height: 204px;
    padding: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
    text-align:center;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;   
}

.footer_bottom_container {
    padding: 7px 20px;
    height: 45px;
}

.starter-template h1 {
    font-size: 24px;
    text-align: center;
}

/*treeview*/
div.panel:first-child {
    margin-top:20px;
}

div.treeview {
    min-width: 100px;
    min-height: 100px;
    
    max-height: 256px;
    overflow:auto;
    
    padding: 4px;
    
    margin-bottom: 20px;
    
    color: #369;
    
    border: solid 1px;
    border-radius: 4px;
}
div.treeview ul:first-child:before {
    display: none;
}
.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;
    
    color: #369;
}
.treeview ul {
    margin-left:1em;
    position:relative
}
.treeview ul ul {
    margin-left:.5em
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    
    /* creates a more theme-ready standard for the bootstrap themes */
    bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 1em;
    position:relative
}
.treeview ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree-indicator {
    margin-right:5px;
    
    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:inherit;
    cursor:pointer;
    font-size: 11px;
}
.treeview li a.active{
    font-weight:bold;
}

.treeview li a:hover{
text-decoration: underline;
}

.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
/*end treeiew*/